@model eSaleModel.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js" data-dojo-config="parseOnLoad: true, locale: 'es-es'"></script>

    <script src="~/Scripts/order.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" media="screen">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/form/resources/CheckedMultiSelect.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/resources/Grid.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/resources/claroGrid.css" />
    <title>Index</title>
</head>
<body>

    <div id="result"></div>
    <form id="searchOrderCondition" enctype="multipart/form-data">
        <div>
            @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })


            @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new {@name="", @class = "form-control", @min = "0", @step = "1", @value = 0 } })
            @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
        </div>
        <div>

            @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.EmpName, (List<SelectListItem>)ViewBag.EmpNameData)
        </div>
        <div>
            @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.ShipperName, (List<SelectListItem>)ViewBag.ShipperNameData)
        </div>
        <div>
            @Html.LabelFor(model => model.Orderdate, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.Orderdate, new { @type = "date" })
            @Html.ValidationMessageFor(model => model.Orderdate, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.RequireDdate, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.RequireDdate, new { @type = "date", @value = "{0:yyyy-MM-dd}" })
            @Html.ValidationMessageFor(model => model.RequireDdate, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })
            @Html.ValidationMessageFor(model => model.ShippedDate, "", new { @class = "text-danger" })
        </div>


        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="sendOrderCondition"  onclick="orderAction.SearchOrderByCondition()" value="Search"/>
        </div>

    </form>

    <div id="orderStore" data-dojo-type="dojo/data/ItemFileReadStore" data-dojo-props="url:'./GetOrder',cleadOnClose:true" data-dojo-id="orderStore"></div>
    <div>
        <table data-dojo-type='dojox/grid/DataGrid' plugins="indirectSelection: headerSelector:true" data-dojo-props="store:orderStore" autoWidth="true" onclick="orderAction.setOrderId" ondblClick="orderAction.dbclickOrderGrid"  autoHeight="true" selectionMode="single" data-dojo-id="orderGrid" id="orderGrid" style="top:30px;">
            <thead>
                <tr>
                    <th field='OrderId'>項次</th>
                    <th field='CustId'>客房類型</th>
                    <th field='CustName'>客房名稱</th>
                    <th field='Orderdate'>平日價</th>
                    <th field='ShippedDate'>假日價</th>
                </tr>
            </thead>
        </table>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
