@model eSaleModel.Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.metro.min.css" rel="stylesheet" />
    @*<link href="~/Styles/kendo.css" rel="stylesheet" />*@
    <script src="http://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>

    <script src="~/Scripts/kendoUI.js"></script>
    @*<script src="~/Scripts/events.js"></script>*@
    

    <title>Index</title>
</head>
<body>
    
    <div id="example">
        <form id="searchOrderCondition" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @name = "", @class = "form-control", @min = "0", @step = "1", @value = 0 } })
                        @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.EmpName, (List<SelectListItem>)ViewBag.EmpNameData, "尚未選擇")
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.ShipperName, (List<SelectListItem>)ViewBag.ShipperNameData, "尚未選擇")
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Orderdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.Orderdate, new { @type = "date" })
                        @Html.ValidationMessageFor(model => model.Orderdate, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.RequiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.RequiredDate, new { @type = "date", @value = "{0:yyyy-MM-dd}" })
                        @Html.ValidationMessageFor(model => model.RequiredDate, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })
                        @Html.ValidationMessageFor(model => model.ShippedDate, "", new { @class = "text-danger" })
                    </th>
                </tr>
            </table>

            @*<span data-dojo-type="dijit/form/Button" id="sendOrderCondition" data-dojo-props="iconClass:'dijitIconSearch'" onclick="orderAction.SearchOrderByCondition()">查詢</span>
                <span data-dojo-type="dijit/form/Button" id="resetSearchOrder" data-dojo-props="iconClass:'dijitIconClear'" onclick="orderAction.resetSearchOrder();">清除</span>
                <span data-dojo-type="dijit/form/Button" id="insertOrder" data-dojo-props="iconClass:'dijitIconNewTask'" onclick="orderAction.showOrderInsertContentPane();">新增</span>*@

        </form>
        <button id="searchButton" class="k-primary" >查詢</button>


        <div id="grid"></div>
    </div>
    <div id="updateDialog"></div>
</body>
</html>
