@model eSaleModel.Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.metro.min.css" rel="stylesheet" />
    @*<link href="~/Styles/kendo.css" rel="stylesheet" />*@
    <script src="http://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>

    <script src="~/Scripts/kendoUI.js"></script>
    @*<script src="~/Scripts/events.js"></script>*@
    

    <title>Index</title>
</head>
<body>
    
    <div id="example">
        <form id="searchOrderCondition" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @name = "", @class = "form-control", @min = "0", @step = "1", @value = 0 } })
                        @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.EmpName, (List<SelectListItem>)ViewBag.EmpNameData, "尚未選擇")
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.ShipperName, (List<SelectListItem>)ViewBag.ShipperNameData, "尚未選擇")
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Orderdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.Orderdate, new { @type = "date" })
                        @Html.ValidationMessageFor(model => model.Orderdate, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.RequiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.RequiredDate, new { @type = "date", @value = "{0:yyyy-MM-dd}" })
                        @Html.ValidationMessageFor(model => model.RequiredDate, "", new { @class = "text-danger" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })
                        @Html.ValidationMessageFor(model => model.ShippedDate, "", new { @class = "text-danger" })
                    </th>
                </tr>
            </table>

            @*<span data-dojo-type="dijit/form/Button" id="sendOrderCondition" data-dojo-props="iconClass:'dijitIconSearch'" onclick="orderAction.SearchOrderByCondition()">查詢</span>
                <span data-dojo-type="dijit/form/Button" id="resetSearchOrder" data-dojo-props="iconClass:'dijitIconClear'" onclick="orderAction.resetSearchOrder();">清除</span>
                <span data-dojo-type="dijit/form/Button" id="insertOrder" data-dojo-props="iconClass:'dijitIconNewTask'" onclick="orderAction.showOrderInsertContentPane();">新增</span>*@

        </form>
        <button id="searchButton" class="k-primary" >查詢</button>
        <button id="showInertButton" class="k-primary">新增</button>

        <div id="grid"></div>
    </div>
    <div id="insertDialog"  style="overflow:auto">
        <div class="demo-section k-content">
            <form id="insertForm" data-role="validator" novalidate="novalidate">
                <table>
                    <tr>
                        <td>
                            <label>客戶名稱</label>
                        </td>
                        <td>
                            <input id="EmpName" name="EmpName"  class="customers" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>負責員工名稱</label>
                        </td>
                        <td>
                            <input id="CustName" name="CustName" class="employees" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="OrderDate">訂單日期</label>
                        </td>
                        <td>
                            <input type="text" data-role='datepicker' id="OrderDate" name="OrderDate" data-type="date" required="required" />
                            <span data-for='OrderDate' class='k-invalid-msg'></span>
                        </td>
                        <td>
                            <label for="RequiredDate">需要日期</label>
                        </td>
                        <td>
                            <input type="text" data-role='datepicker' id="RetireDate" data-type="date" name="RequiredDate" data-greaterdate-field="OrderDate" data-greaterdate-msg='Required Date should be after Order date ' />
                            <span data-for='RequiredDate' class='k-invalid-msg'></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ShippedDate">出貨日期</label>
                        </td>
                        <td>
                            <input type="text" data-role='datepicker' id="ShippedDate" data-type="date" name="ShippedDate" data-greaterdate-field="OrderDate" data-greaterdate-msg='Shipped Date should be after Hire date' />
                            <span data-for='ShippedDate' class='k-invalid-msg'></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>出貨公司名稱</label>
                        </td>
                        <td>
                            <input id="ShipperName" name="ShipperName" class="shippers" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Freight">運費</label>
                        </td>
                        <td>
                            <input id="Freight" type="number" title="Freight" value="0" min="0" max="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ShipCountry">出貨國家</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipCountry" id="ShipCountry" />
                        </td>
                        <td>
                            <label for="ShipCity">出貨城市</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipCity" id="ShipCity" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ShipRegion">出貨地區</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipRegion" id="ShipRegion" />
                        </td>
                        <td>
                            <label for="ShipPostalCode">郵遞區號</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipPostalCode" id="ShipPostalCode" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ShipAddress">出貨地址</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipAddress" id="ShipAddress" />
                        </td>
                        <td>
                            <label for="ShipName">出貨說明</label>
                        </td>
                        <td>
                            <input type="text" class="k-textbox" name="ShipName" id="ShipName" />
                        </td>
                    </tr>
                </table>
            </form>
            <button id="insert" class="k-primary" data-role="button">新增</button>
            <div id='insertList'></div>
        </div>  


    </div>
    <div id="updateDialog"></div>
</body>
</html>
